In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('pysparkBasics').getOrCreate()
spark

In [3]:
data=[("Amit",25),("Harish",30),("Kabir",28)]
columns=["Name","Age"]

df=spark.createDataFrame(data,columns)
df.show()

+------+---+
|  Name|Age|
+------+---+
|  Amit| 25|
|Harish| 30|
| Kabir| 28|
+------+---+

In [4]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

In [7]:
csv_data = """Name,Age,Department,Salary
Aarav,28,Sales,50000
Sneha,,Engineering,80000
Kabir,25,HR,
Anaya,29,,60000
Rohan,35,Engineering,85000
"""

with open('employees.csv','w') as file:
  file.write(csv_data)

In [9]:
df=spark.read.csv('employees.csv',header=True,inferSchema=True)
df.show()
df.printSchema()

+-----+----+-----------+------+
| Name| Age| Department|Salary|
+-----+----+-----------+------+
|Aarav|  28|      Sales| 50000|
|Sneha|NULL|Engineering| 80000|
|Kabir|  25|         HR|  NULL|
|Anaya|  29|       NULL| 60000|
|Rohan|  35|Engineering| 85000|
+-----+----+-----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)