In [0]:
data = [
    ("P001", "Notebook", 3, 45000),
    ("P002", "Keyboard", 2, 7000),
    ("P003", "Mouse", 5, 4000),
    ("P004", "Monitor", 1, 15000),
    ("P005", "Chair", 4, 8000)
]
columns=["product_id", "product_name", "quantity", "price"]
df=spark.createDataFrame(data, columns)
df.show()

+----------+------------+--------+-----+
|product_id|product_name|quantity|price|
+----------+------------+--------+-----+
|      P001|    Notebook|       3|45000|
|      P002|    Keyboard|       2| 7000|
|      P003|       Mouse|       5| 4000|
|      P004|     Monitor|       1|15000|
|      P005|       Chair|       4| 8000|
+----------+------------+--------+-----+

In [0]:
df.count()

5

In [0]:
from pyspark.sql.functions import col

df_with_revenue=df.withColumn("revenue", col("quantity")*col("price"))
df_with_revenue.select("product_id", "product_name","quantity","price", "revenue").show()

+----------+------------+--------+-----+-------+
|product_id|product_name|quantity|price|revenue|
+----------+------------+--------+-----+-------+
|      P001|    Notebook|       3|45000| 135000|
|      P002|    Keyboard|       2| 7000|  14000|
|      P003|       Mouse|       5| 4000|  20000|
|      P004|     Monitor|       1|15000|  15000|
|      P005|       Chair|       4| 8000|  32000|
+----------+------------+--------+-----+-------+

In [0]:
df.filter(col("price")>10000).show()

+----------+------------+--------+-----+
|product_id|product_name|quantity|price|
+----------+------------+--------+-----+
|      P001|    Notebook|       3|45000|
|      P004|     Monitor|       1|15000|
+----------+------------+--------+-----+

Analyze Employee Sales Data

In [0]:
data = [
    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)
]
 
columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]
 
df = spark.createDataFrame(data, columns)
df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

Tasks
 
Show Total Number employees

In [0]:
df.count()

5

Add a new column TotalSales (unitssold*unitprice)

In [0]:
df=df.withColumn("TotalSales", col("UnitsSold")*col("UnitPrice"))
df.show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E101|  Amit|     Sales|       10|     1200|     12000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+

Show only Sales department empoyees with Total Sales>12000

In [0]:
df.filter((col("Department")=="Sales")&(col("TotalSales")>12000)).show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

Employee with the highest total sales

In [0]:
df.orderBy(col("TotalSales").desc()).limit(1).show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

Sort employees by totalSales in descinding order

In [0]:
df.orderBy(col("TotalSales").desc()).show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E101|  Amit|     Sales|       10|     1200|     12000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+