Python Data Structures – Intermediate Exercises
Notebook

**Section 1: Nested Lists & Access**

In [67]:
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]

**Tasks:**
1. Print Ravi’s second mark.

In [68]:
print("Ravi's Second Mark:",students[0][1][1])

Ravi's Second Mark: 72

2. Calculate average mark for each student.

In [69]:
print([[name, sum(marks)/len(marks)] for name, marks in students])

[['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

3. Print the name of students who scored above 80 in all subjects.

In [70]:
print([i[0] for i in students if i[1][0]>80 and i[1][1]>80 and i[1][2]>80])

['Sneha']

4. Create a new list of [name, average] .

In [71]:
avg_lis = [[name, sum(marks)/len(marks)] for name, marks in students]
print(avg_lis)

[['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

**Section 2: Dictionary of Lists**

In [72]:
data = {
"products": ["Mobile", "Laptop", "Tablet", "Camera"],
"prices": [12000, 55000, 18000, 25000],
"ratings": [4.5, 4.7, 4.0, 4.2]
}

1. Create a list of dictionaries for each product:

In [73]:
prod_lis=[{'product':data['products'][i],'price':data['prices'][i],'rating':data['ratings'][i]} for i in range(len(data['products']))]
print(prod_lis)

[{'product': 'Mobile', 'price': 12000, 'rating': 4.5}, {'product': 'Laptop', 'price': 55000, 'rating': 4.7}, {'product': 'Tablet', 'price': 18000, 'rating': 4.0}, {'product': 'Camera', 'price': 25000, 'rating': 4.2}]

2. Filter and print products with price > 20,000 and rating >= 4.5

In [74]:
fil_prod=[i for i in prod_lis if i['price']>20000 and i['rating']>=4.5]
print(fil_prod)

[{'product': 'Laptop', 'price': 55000, 'rating': 4.7}]

3. Sort the product list by rating (descending)

In [75]:
sort_prod=sorted(prod_lis,key=lambda x:x['rating'],reverse=True)
print(sort_prod)

[{'product': 'Laptop', 'price': 55000, 'rating': 4.7}, {'product': 'Mobile', 'price': 12000, 'rating': 4.5}, {'product': 'Camera', 'price': 25000, 'rating': 4.2}, {'product': 'Tablet', 'price': 18000, 'rating': 4.0}]

Section 3: Frequency Dictionary + Set Operations

In [76]:
text = "ai is the future and ai will change everything in the ai world"

1. Count frequency of each word using a dictionary

In [77]:
words=text.split()
freq={word:words.count(word) for word in words}
print(freq)

{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

2. Print only the words that appear more than once

In [78]:
print([word for word,count in freq.items() if count>1])

['ai', 'the']

3. Convert words into a set and print sorted unique words

In [79]:
uniq_sorted=sorted(set(words))
print(uniq_sorted)

['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

4. Find common words between:

In [80]:
set1=set(words)
set2={"ai", "ml", "data", "future"}
print(set1&set2)

{'ai', 'future'}

**Section 4: Dictionary Comprehension + Conditional Logic**

In [81]:
sales = {
'Amit': 70000,
'Sneha': 45000,
'Ravi': 30000,
'Anita': 90000,
'Kabir': 20000
}

1. Create a new dictionary with 10% bonus added to each sale

In [82]:
print({name:sale+(sale*0.10) for name,sale in sales.items()})

{'Amit': 77000.0, 'Sneha': 49500.0, 'Ravi': 33000.0, 'Anita': 99000.0, 'Kabir': 22000.0}

2. Filter and return only those with sales >50,000

In [83]:
print({name:sale for name,sale in sales.items() if sale>50000})

{'Amit': 70000, 'Anita': 90000}

3. Label each person as 'High' , 'Medium' , or 'Low' based on:

75,000: High

40,000: Medium

Else: Low

In [84]:
print({name:('High' if sale>=75000 else "Medium" if sale>=40000 else'Low' )for name,sale in sales.items()})

{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

**Section 5: Tuples, Sets, and Zipping**

In [85]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

1. Convert both tuples to a dictionary using zip()

In [86]:
data={name:mark for name,mark in zip(names,marks)}
print(data)

{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

2. Find min and max marks

In [87]:
print("Min Marks:",min(data.values()))
print("Max Marks:",max(data.values()))

Min Marks: 76
Max Marks: 92

3. Create a set from marks and add a new value

In [88]:
mark=set(data.values())
mark.add(95)
print(mark)

{88, 92, 95, 76}

4. Merge two sets and show unique elements

In [89]:
add_mark={90,95,88,70,75}
print(mark.union(add_mark))

{70, 75, 76, 88, 90, 92, 95}

**Bonus Challenge**

In [90]:
employees = {
"E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
"E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
"E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

1. Add a new employee "E104"

In [91]:
employees["E104"] = {"name": "Harish", "dept": "Engineering", "salary": 90000}
print(employees)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Harish', 'dept': 'Engineering', 'salary': 90000}}

2. Increase salary by 10% for Engineering department only

In [92]:
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10
print(employees)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Harish', 'dept': 'Engineering', 'salary': 99000.00000000001}}

3. Find the department with the highest average salary

In [93]:
from collections import defaultdict

dept_salaries = defaultdict(list)
for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

avg_salaries = {dept: sum(sals)/len(sals) for dept, sals in dept_salaries.items()}
highest_avg_dept = max(avg_salaries, key=avg_salaries.get)
print(highest_avg_dept)

Engineering